.gallery-container {
    background: var(--var4);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.8vw;
    column-gap: 0px;
    margin: auto;
    width: 68rem;
    padding: 5rem;
    border-radius: 8px;
    -webkit-box-shadow: -1px 4px 19px -8px rgba(0,0,0,0.8); 
    box-shadow: -1px 4px 19px -8px rgba(0,0,0,0.8);
}
.gallery-container img {
    object-fit: contain;
    text-align: center;
    width: 14rem;
    border-radius: 8px;
}
img{
    cursor: pointer;
}
.gallery-container img:hover {
    opacity: 0.6;
    transform: translateY(2px)
}
.search-input {
    background-color: #22252c;
    border-radius: 29px;
    width: 33.3%;
    padding-left: 1rem;
    margin-right: 1rem;
    font-size: 1.301875rem;
    border: none;
    font-family: poppins-light;
}
.footer-logo{
    background-image: var(--var1);
    height: 5rem;
    margin-top: 18px;
}